<header class="relative mb-6" x-data="{ open: false }">
  <div class="">
    <nav
      class="font-pistols relative mx-auto flex items-center justify-between pt-4 px-6 xl:px-8"
      aria-label="Global"
    >
      <div class="flex items-center flex-1 justify-between">
        <div
          class="flex items-center justify-between w-full lg:w-auto text-4xl"
        >
          <a href="/">Forever Dead</a>
          <div class="-mr-2 flex items-center lg:hidden">
            <button
              type="button"
              class="bg-warm-gray-50 rounded-md p-2 inline-flex items-center justify-center text-warm-gray-400 hover:bg-warm-gray-100 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-teal-500"
              @click="open = !open"
              @mousedown="if (open) $event.preventDefault()"
              aria-expanded="false"
              :aria-expanded="open.toString()"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="h-6 w-6"
                x-description="Heroicon name: outline/menu"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div role="nav" class="hidden space-x-4 lg:flex lg:ml-10">
          {% for item in navigation.items %} {% if item.url == page.url %} {%
          assign bgClass = 'bg-fd-pink' %} {% else %} {% assign bgClass =
          'bg-fd-yellow' %} {% endif %}
          <a
            href="{{ item.url }}"
            class="text-2xl text-warm-gray-500 hover:text-white p-4 {{ bgClass }}  hover:bg-fd-pink border-2 border-black transition-colors duration-100"
            >{{ item.text }}</a
          >
          {% endfor %}
        </div>
      </div>
    </nav>
  </div>

  <div
    x-show="open"
    x-transition:enter="duration-150 ease-out"
    x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="duration-100 ease-in"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95"
    x-description="Mobile menu, show/hide based on menu open state."
    class="absolute z-30 top-0 inset-x-0 p-2 transition transform origin-top lg:hidden h-screen"
    x-ref="panel"
    @click.away="open = false"
    style="display: none"
  >
    <div
      class="relative shadow-lg bg-white ring-1 ring-black ring-opacity-5 overflow-hidden min-h-full"
    >
      <button
        type="button"
        class="absolute top-1 right-1 bg-white rounded-md p-2 inline-flex items-center justify-center text-warm-gray-400 hover:bg-warm-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-teal-500"
        @click="open = !open"
      >
        <span class="sr-only">Close menu</span>
        <svg
          class="h-6 w-6"
          x-description="Heroicon name: outline/x"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
      <div class="pt-5 pb-6 px-2 space-y-1">
        {% for item in navigation.items %} {% if item.url == page.url %} {%
        assign bgClass = 'bg-fd-pink' %} {% else %} {% assign bgClass =
        'bg-fd-yellow' %} {% endif %}
        <a
          href="{{ item.url }}"
          class="block px-3 py-2 rounded-md text-base font-medium text-warm-gray-900 hover:bg-warm-gray-50"
          >{{ item.text }}</a
        >
        {% endfor %}
      </div>
    </div>
  </div>
</header>
